<div id='uuid' uuid="<%= current_user.uuid -%>" hidden></div>

<!--- twitter bootstrap container !-->
<div class="container">
  <div class="header clearfix">
    <nav>
      <div id='navigation-container'></div>
    </nav>
    <h3 class="text-muted">漢字マイスター</h3>
  </div>

  <div class="row marketing">
    <div id='review-container'></div>
  </div>

  <footer class="footer">
    <p>&copy; Kanjimeisterei 2015</p>
  </footer>

</div> <!-- /container -->


<!--- boostrapping for backbone views -->

<script type="text/html" id="kanji">
  <div class="kanji-keyword"><%%= key_word %></div>

  <div id="kanji-info-container" >
    <div class="kanji-character"><%%= kanji %></div>
  </div>
</script>

<script type="text/html" id="review">
  <div class="jumbotron">
    <div id='kanji-container'></div>

    <div class="kanji-feedback">
        <p>
          <a id="learned" class="btn btn-lg btn-success learned-btn" href="#" role="button">○</a>
          <a id='not_learned' class="btn btn-lg btn-warning learned-btn" href="#" role="button" id='learned'>×</a>
          <a id='next-review-item' class="btn btn-lg btn-primary nxt-review-btn" href="#" role="button" id='next'>next</a>
        </p>
    </div>
  </div>

  <div class="col-lg-6">
    <h4>This batch</h4>
    <p>
      <div class="review-info">
        <%%= kanji_list %>
      </div>
    <p>
  </div>

  <div class="col-lg-6">
    <p>
    </p>
  </div>
</script>

<script type="text/html" id="kanji-info-stuff">
  <div class="kanji-info">Heisig Lesson: <%%= heisig_lesson %></div>
  <div class="kanji-info">Heisig ID: <%%= heisig_id %></div>
  <div class="kanji-info">Strokes: <%%= stroke_count%></div>
</script>

<script type="text/html" id="navigation">
  <ul class="nav nav-pills pull-right">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a id='fetch_review_tasks'>Review</a></li>
    <li role="presentation"><a id='fetch_unreviewed_tasks'>Learn new</a></li>
  </ul>
</script>

<!--- boostrap backbone views -->
