<%= current_user.email %>

<div id='uuid' uuid="<%= current_user.uuid -%>" hidden></div>

<div id='app'> </div>

<script type="text/html" id="kanji">
  <div class="kanji"> <%%= rendering %> </div>
  <div class="kanji-info"> <%%= heisig_id %> </div>
</script>

