<%= current_user.email %>

<div id='uuid' uuid="<%= current_user.uuid -%>" hidden></div>

<div id='app'></div>

<div id='review-container'></div>

<div id='navigation-container'></div>

<script type="text/html" id="kanji">
  <div class="kanji"><%%= rendering %></div>
  <div class="kanji-info"><%%= heisig_id %></div>

  <a id='learned'>○</a>
  <a id='not_learned'>×</a>
</script>

<script type="text/html" id="review">
  <div class="review-info"><%%= kanji_list %></div>
  <a id='next-review-item'>Next</a>
</script>

<script type="text/html" id="navigation">
  <div class="navigation"></div>
  <a id='fetch_unreviewed_tasks'>learn new kanjis</a>
  <br>
  <a id='fetch_review_tasks'>review kanji</a>
</script>
