<div id='uuid' uuid="<%= current_user.uuid -%>" hidden></div>

<!--- twitter bootstrap container !-->
<div class="container">
  <div class="header clearfix">
    <nav>
      <div id='navigation-container'></div>
    </nav>
    <h3 class="text-muted">漢字マイスター</h3>
  </div>

  <div class="row marketing">
    <div id='review-container'></div>
  </div>

  <footer class="footer">
    <p>&copy; Kanjimeisterei 2015</p>
  </footer>

</div> <!-- /container -->


<!--- boostrapping for backbone views -->

<script type="text/html" id="kanji">
  <div class="kanji-keyword"><%%= key_word %></div>

  <div id="kanji-info-container" >
    <div class="kanji-character"><%%= kanji %></div>
  </div>
</script>

<script type="text/html" id="review">
  <div class="jumbotron">
    <div id='kanji-container'></div>

    <div class="kanji-feedback">
        <p>
          <a id="learned" class="btn btn-lg btn-success learned-btn" href="#" role="button">○</a>
          <a id='not_learned' class="btn btn-lg btn-warning learned-btn" href="#" role="button" id='learned'>╳</a>
          <a id='next-review-item' class="btn btn-lg btn-primary nxt-review-btn" href="#" role="button" id='next'>next</a>
        </p>
    </div>
  </div>

  <div class="col-lg-12">
    <p>
      <div class="tasks-info">
        <%%= kanji_list %>
      </div>
    <p>
  </div>

  <div class="col-lg-12">
    <h4>Kanji</h4>
    <p>
      <div class="review-info">
        <div id="review-info-container">
      </div>
    <p>
  </div>

  <div id="kanji-comment-container"></div>
</script>

<script type="text/html" id="review-info">
  <div class="kanji-info">Heisig Lesson: <%%= heisig_lesson %></div>
  <div class="kanji-info">Heisig ID: <%%= heisig_id %></div>
  <div class="kanji-info">Strokes: <%%= stroke_count%></div>
  <div class="kanji-info"><a href="<%%= jisho_url %>">Jisho</a><div>
</script>

<script type="text/html" id="kanji-comment">
  <div class="review-info">
    <textarea id="comment"><%%= text %></textarea>
  </div>
</script>

<script type="text/html" id="navigation">
  <ul class="nav nav-pills pull-right">
    <li role="presentation" class="nav-list active"><a id='root'>Home</a></li>
    <li role="presentation" class="nav-list"><a id='fetch_review_tasks'>Review</a></li>
    <li role="presentation" class="nav-list"><a id='fetch_unreviewed_tasks'>Learn new</a></li>
    <li role="presentation" class="nav-list drop-down">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Session <span class="caret"></span></a>
     <ul class="dropdown-menu">
       <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
     </ul>
    </li>
  </ul>
</script>

<script type="text/html" id="index">
  <div class="jumbotron">
    <p>Start here</p>
  </div>
</script>

<!--- boostrap backbone views -->
