// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div .kanji-keyword {
  font-size: 256%;
}

div .kanji-character {
  font-size: 256%;
}

div #kanji-info-container {
  border-style: solid;
  border-width: thin;
}

div .kanji-feedback{
  font-size: 256%;
}
